<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <h2>Edit your post</h2>
    <p>Post id : <%= post.id %></p>
    <p>Post username : @<%= post.username %></p>
    <form action="/posts/<%= post.id %>?_method=PATCH" method="post" >
        <textarea rows="5" cols="30" name="content"><%= post.content %></textarea>
        <button class="btn">Submit</button>
    </form>

    <br>
    <a class="" href="http://localhost:8080/posts">Back to All Posts</a>
</body>
</html>