<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <form method="POST" action="/posts">
        <input placeholder="enter username" name="username"> <br> <br>
        <textarea placeholder="write your post" name="content"></textarea> <br>
        <button class="btn">Submit</button>
    </form>
    <br>
    <a  href="http://localhost:8080/posts">Back to All Posts</a>
</body>
</html>